.DS_Store

# Virtual environment
.venv

src/google.py
src/flask-server/chromedriver
src/flask-server/violations.txt

# --- Frontend
# dependencies
src/frontend/node_modules
src/frontend/.pnp
src/frontend/.pnp.js

# Flask Server
# dependencies
__pycache__
~

# testing
src/frontend/coverage

# production
src/frontend/build

# misc
src/frontend/.DS_Store
src/frontend/.env
src/frontend/.env.local
src/frontend/.env.development.local
src/frontend/.env.test.local
src/frontend/.env.production.local

src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*
src/flask-server/venv
